@layer reset, variables, base, components, utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "./tokens/colors.css" layer(variables);
@import "./tokens/spacing.css" layer(variables);
@import "./tokens/typography.css" layer(variables);
@import "./tokens/misc.css" layer(variables);
@import "./global.css" layer(base);
